# github actions test tool - act - artifacts
run-act.bat
act-artifacts/
# CI/CD
.npmrc

# Dependencies
node_modules

# Production
dist
build
server

# Tests
coverage

# Backups
backups

# Others
logs
*.log
.cache
temp
tmp

# Local env files
.env*.local

# IDEs and editors
.idea
.project
.classpath
*.launch
.settings

# System files
.DS_Store
Thumbs.db
*.pem
